span {
    margin-bottom: -15px;
    font-weight: bold;
    display: block;
}

span.lv1 {
    margin-left: -35px;
}

span.lv2 {
    margin-left:-15px;
}

div {
    margin: 0px 35px;
    white-space: pre-line;
}
