_draft
util/**/__pycache__
util/**/output_*.js
util/**/*.csv
util/item-card-enchant/*item.yaml
util/item-card-enchant/*card.yaml
util/__pycache__
util/*monster.csv
.clineignore
.clinerules
.claude/*.local.*
memory-bank
dist/
CLAUDE.md
tests/.vitest-attachments/**
tests/node_modules/**
tests/roro/__screenshots__/**
tests/.npmrc
