card_list:
  - name: 潜在覚醒(アースストレインI)
    type: エンチャント
    capabilities:
      - type: スキルダメージ増加
        skill: アースストレイン
        value: 1
        per_lv: 3
    set_list:
      - set:
        entity_list:
          - card_name: 真理の解放
        capabilities:
          - type: スキルクールタイムミリ秒減少
            skill: アースストレイン
            value: 3000

