item_list:
  - name: スクリーミングゴーストパーティ
    yomi: スクリイミンクコオストハアテイ
    desc: 
    type: 鎧
    slot: 1
    def: 100
    weight: 100
    required: 100
    capabilities:
      - type: 壊れない
        value: 1
      - type: 一般耐性
        value: 5
      - type: ボス耐性
        value: 5
      - type: プレイヤー耐性
        value: 7
    set:
      id_list:
        - id: -2220
      capabilities:
        - type: 全種族への物理ダメージ増加
          value: 30
        - type: 全種族への魔法ダメージ増加
          value: 30
        - type: 念属性耐性
          value: 15
    enchant:
      name: スペシャルエンチャント（キョウ）
      slot_list:
        - slot: 4
          refine: 6
          enchant_list:
            - name: スキルディレイ-15%
            - name: 詠唱妨害不可
            - name: 英雄の凱歌
            - name: 厄災の魔将
        - slot: 3
          refine: 8
          enchant_list:
            - name: 火属性付与(鎧)
            - name: 水属性付与(鎧)
            - name: 風属性付与(鎧)
            - name: 地属性付与(鎧)
            - name: 聖属性付与(鎧)
            - name: 闇属性付与(鎧)
            - name: 念属性付与(鎧)
            - name: 毒属性付与(鎧)
            - name: 不死属性付与(鎧)
        - slot: 2
          refine: 10
          enchant_list:
            - name: 黒翼の使徒