
/* 計算機ヘッダ部分 */
#OBJID_CALCULAATOR_HEADER {
	display: flex;
	justify-content: start;
	align-items: start;
	margin: 0 0 1em;
}



/* 展開式設定欄共通（新形式） */

/* ブロック大枠 */
.folding-block-MIG {
	width: max-content;
	border: 3px double black;
	background-color: #ddddff;
	line-height: 1.5;
}

/* 展開操作ラベル */
.folding-switch-MIG ~ label {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.125em;
}

/* 説明ページリンク */
.folding-switch-MIG ~ .folding-link-help-MIG {
	display: inline-block;
	margin: 0 0.5em;
	padding: 0.125em;
}

/* ブロック本体 */
.folding-switch-MIG:checked ~ .folding-block-body-MIG {
	padding: 0.5em;
	display: grid;
	row-gap: 0.5em;
}
.folding-switch-MIG:not(:checked) ~ .folding-block-body-MIG {
	display: none;
}
body:not([class="CLS_BODY_ALTERNATIVE"]) .folding-block-body-MIG {
	background-color : #dddddd;
}
body[class="CLS_BODY_ALTERNATIVE"] .folding-block-body-MIG {
	background-color : #ffffff;
}
.folding-block-body-MIG {
	border-top: 1px solid black;
}

/* ブロック内ボタン共通 */
.folding-block-body-MIG button {
	padding: 0.125em 1em;
	margin: 0 1em;
}



/* セーブ操作ブロック */

/* ブロック大枠 */
#OBJID_SAVE_BLOCK_MIG {
	margin-left: 1em;
}

/* 入力欄系 */
#OBJID_SELECT_SAVE_DATA_MIG {
	grid-row: 1;
	grid-column: 1 / 3;
}
#OBJID_INPUT_SAVE_NAME_MIG {
	grid-row: 2;
	grid-column: 1 / 3;
	line-height: 1.5;
}
/* セーブデータ操作ボタン系 */
#OBJID_BUTTON_LOAD_SAVE_DATA_MIG {
	grid-row: 1;
	grid-column: 3;
}
#OBJID_BUTTON_SAVE_SAVE_DATA_MIG {
	grid-row: 1;
	grid-column: 4;
}
#OBJID_BUTTON_DELETE_SAVE_DATA_MIG {
	grid-row: 1;
	grid-column: 5;
}
/* URL出力系 */
#OBJID_BUTTON_URL_OUT_MIG {
	grid-row: 3;
	grid-column: 1;
}
#OBJID_INPUT_URL_OUT_MIG {
	grid-row: 3;
	grid-column: 2 / 5;
}
#OBJID_BUTTON_COPY_URL_OUT_MIG {
	grid-row: 3;
	grid-column: 5;
}
/* URL入力系 */
#OBJID_BUTTON_URL_IN_MIG {
	grid-row: 4;
	grid-column: 1;
}
#OBJID_INPUT_URL_IN_MIG {
	grid-row: 4;
	grid-column: 2 / 5;
}
#OBJID_BUTTON_CLEAR_URL_IN_MIG {
	grid-row: 4;
	grid-column: 5;
}



/* 新装備ブロック */
#OBJID_SHADOW_EQUIPS_MIG {
	margin: 0.5em 0 1.5em 3px;
}

/* 全体グリッド */
.folding-block-body-MIG.shadow-equips {
	grid-template-columns: repeat(12, auto);
	column-gap: 1em;
}

/* ラッパ要素 */
:is(.equip-block, .equip-conf, .item-conf, .card-conf, .rndopt-conf) {
	display: contents;
}
/* 表示制御チェックボックス */
:is(.equip-ctrl, .item-ctrl, .card-ctrl, .rndopt-ctrl) {
	display: none;
}
/* 設定欄ラッパ　表示動作 */
.equip-ctrl:not(:checked) ~ .equip-conf,
.item-ctrl:not(:checked) ~ .item-conf,
.card-ctrl:not(:checked) ~ .card-conf,
.rndopt-ctrl:not(:checked) ~ .rndopt-conf {
	display: none;
}

/* カード選択欄（ランダムオプションが、<select> 2個必要なので） */
.equip-conf .card-select {
	grid-column-end: span 2;
}

/* 区切り線 */
.equip-conf .divider-line {
	grid-column: 1/-1;
	border-top: 1px solid black;
	padding: 0 -0.5em;
}





/* 攻撃方法部分 */
#OBJID_ATTACK_BLOCK_MIG {
	display: flex;
	justify-content: start;
	align-items: start;
	margin: 0 0 0.5em;
}

/* 各種設定欄 */
#OBJID_ATTACK_SETTING_BLOCK_MIG {
	margin-left: 1em;
}

#OBJID_ATTACK_SETTING_AUTO_CALC_MIG {
	grid-row: 1;
	grid-column: 1;
}
#OBJID_ATTACK_SETTING_DIGIT3_MIG {
	grid-row: 2;
	grid-column: 1;
}
#OBJID_ATTACK_SETTING_ACTIVE_INTERVAL_MIG {
	grid-row: 3;
	grid-column: 1;
	display: flex;
	justify-content: start;
}
#OBJID_ATTACK_SETTING_CASTSIM_INTERVAL_MIG {
	grid-row: 4;
	grid-column: 1;
	display: flex;
	justify-content: start;
}

.wrapper {
	display: flex;
	height: 100%;
	min-height: 100%;
}
.content {
	height:100%;
	min-height:100%;
	width:100%;
	overflow-y: auto;
}

.side {
 width:160px;
 min-width:160px;
 /* height:100%; */
 overflow-y: auto;
}
.side.collapsed {
	width: 0px;
	min-width:0px;
}
.sidebar {
	/* color: $text-color; */
  overflow-x: hidden !important;
  position: relative;
	padding-left: 4px;
}
.sidebar-layout {
	height: auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	/* background-color: $bg-color; */
	z-index: 2;
}

.sidebar-header span {
	/* overflow: hidden; */
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebar .sidebar-logo {
	display: flex;
	align-items: center;
}

.sidebar .sidebar-logo div {
	width: 40px;
	min-width: 40px;
	height: 36px;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	background-color: #ff8100;
	margin-right: 4px;
	font-family: 'Poppins', sans-serif
}

.sidebar .sidebar-logo h5 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 30px;
	transition: opacity 0.3s;
	opacity: 1;
}

.sidebar .menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar .menu .menu-header {
	font-weight: 600;
	padding: 10px 5px;
	font-size: 0.8em;
	letter-spacing: 2px;
	transition: opacity 0.3s;
	opacity: 0.6;
}
.sidebar .menu .menu-item {
	height: 30px;
	padding: 0px 15px;
}

.menu-item .menu-title{
	font-size: 0.9em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
	transition: color 0.3s;
}

.sidebar .sidebar-collapser {
	transition: left, right, 0.3s;
	position: fixed;
	left: 150px;
	top: 27px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #666;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	transform: translateX(50%);
	z-index: 8;
	cursor: pointer;
	color: white;
	box-shadow: 1px 1px 4px #666;
}
.sidebar .sidebar-collapser.collapsed {
	left: 0px;
}

.modal-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s ease-out;
	z-index: 9;
}

.modal-container::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal-container.active {
	opacity: 1;
	visibility: visible;
}

.modal-body {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	width: 80%;
}

.modal-close {
	position: absolute;
	top: -30px;
	right: 0;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,60%);
	padding: 4px 15px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

.modal-content {
	background: #fff;
	text-align: left;
	padding: 0px;
	font-weight: bold;
}

.modal-content iframe {
	width: 100%;
	height: 80%;
	border: none;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}